
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">我ㄉ實驗室owo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">關「魚」我</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    偶ㄉ專專專案(´・ω・`)？
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/picture">照片</a>
                    <a class="dropdown-item" href="/blog">佈落格</a>
                    <a class="dropdown-item" href="/undertale">undertale</a>
                    <a class="dropdown-item" href="/鬼滅之刃">鬼滅之刃</a>
                    <a class="dropdown-item" href="/choco">chocolate</a>
                    <a class="dropdown-item" href="/Minecraft">Minecraft</a>
                    <a class="dropdown-item" href="/deltarune">deltarune</a>
                    <a class="dropdown-item" href="/Glitchtale">Glitchtale</a>
                    <a class="dropdown-item" href="/master?name=皮卡丘">口袋怪獸圖鑑</a>
                    <a class="dropdown-item" href="/Light">Light</a>
                    <a class="dropdown-item" href="/Black_Plasma_Studios">Black_Plasma_Studios</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://getbootstrap.com/docs/4.4/components/alerts/">bootstrap</a>
                    <a class="dropdown-item" href="https://www.tiny.cloud/docs/demo/full-featured/"target="_blank">網頁工具</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
             </form>
        </div>
      </nav>