<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/style-red.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style-blue.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style-yellow.css')}}">
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      //讀取文件
      $( document ).ready(function() { 
          //如果文件點選項目時
          console.log( "ready!" );
          $(".card-link").on("click",function(){
              //把欄位內容放到結果欄
              $(".result").html($(this).html());

          });

      });
  </script>
    <script>
    $( document ).ready(function() {
        console.log( "ready!" );
        
        $(".one").on("click",function(){
          $(".go").html($(this).html())
        });
        $(".tho").on("click",function(){
          $(".go").html($(this).html())
        });
        $(".three").on("click",function(){
          $(".go").html($(this).html())
        });

     });
    </script>
   <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">我ㄉ實驗室owo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">關「魚」我</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    偶ㄉ專專專案(´・ω・`)？
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/picture">照片</a>
                    <a class="dropdown-item" href="/blog">佈落格</a>
                    <a class="dropdown-item" href="/undertale">undertale</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://getbootstrap.com/docs/4.4/components/alerts/">bootstrap</a>
                    <a class="dropdown-item" href="https://www.tiny.cloud/docs/demo/full-featured/"target="_blank">網頁工具</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
             </form>
        </div>
      </nav>
    </header>
    
    <main>
      <div class="container1"> 
            
        <!-- result 結果： 把結果放進這裡-->
        <div class="result">結果 <br>
          找到 .result |  $(".result")  | class="result" <br>
          $(".result").html("<u>內容</u>") | 內容放到裡面      <br> 

        </div>

      </div>
     
          
            <!-- card 卡片： 卡片sub(子) title -->
              
              <h6 class="card-subtitle mb-2 text-muted">scissior</h6>
            
              <!-- card 卡片： 卡片sub(子) 文字說明-->  
              <p class="card-text">
              
              </p>
              <a href="javascript:void(0)" class="card-link">scissior</a> 
            </div>
          </div>

      <div class="card">
        <div class="card-body">
          This is some text within a card body.

          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">剪刀</h5>
              <h6 class="card-subtitle mb-2 text-muted">scissors</h6>
              <a href="#" class="card-link">Scissors</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">布</h5>
              <h6 class="card-subtitle mb-2 text-muted">Paper</h6>
              <a href="#" class="card-link">Paper</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">石頭</h5>
              <h6 class="card-subtitle mb-2 text-muted">Rock</h6>
              <a href="#" class="card-link">Rock</a>
            </div>
          </div>



        </div>
      </div>
    </main>

    <footer>
    作者：will
    </footer>




    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body> 
</html>
